<%- include("../partials/header") %>

<style>
	.thumbnail{
		padding: 0;
	}
	
	.thumbnail .img-responsive {
		width: 100%;
	}
	
	.delete-button{
		display: inline;
	}
</style>	

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">YelpCamp</p>
			<div class="list-group">
				<li class="list-group-item active">Item 1</li>
				<li class="list-group-item">Item 2</li>
				<li class="list-group-item">Item 3</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src="<%= campground.url %>">
				<div class="caption">
					<h4 class="pull-right"><%=campground.price%> Rs/night</h4>
					<h4><a href="#"><%= campground.name %></a></h4>
					<p><%= campground.description %></p>
					<p><em>Submitted by <%= campground.author.username %></em></p>		
				
				  <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
						<a class="btn btn-warning" href="/campgrounds/<%=campground._id%>/edit">Edit</a>	
				<form class="delete-button" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
					<button class="btn btn-danger">Delete</button>
				</form>
				<%	}  %>
						
				</div>	
			</div>
			<div class="well">
				<div class="text-right"><a class="btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new">Add a comment</a></div>	
				<hr>
				<% campground.comments.forEach(function(comment){ %>
					<div class="row">
						<div class="col-md-12">
							<strong><%=comment.author.username%></strong>
							<span class="pull-right">10 days ago</span>
							<p>
								<%=comment.text%>
							</p>
				<%	if(currentUser && comment.author.id.equals(currentUser._id)){	%>	
						<a href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit" class="btn btn-warning">Edit</a>
		<!-- As we need post route which will be finally a delete route we need to have a form because a anchor tag sends a get request  -->
						<form action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST" class="delete-button">
							<input type="submit" value="Delete" class="btn btn-danger">
						</form>
			<%	}	%>		
						</div>	
					</div>
				<% }); %>
			</div>	
		</div>
	</div>
</div>

<div class="container">


</div>
 
<%- include("../partials/footer") %>